$main_text_color: rgba(42, 31, 32, 1);
$gray_background_color: #e8e8e8;
$gray_price: rgba(140, 140, 140, 1);
$white_color: rgba(255, 255, 255, 1);
$yellow_color: rgba(255, 176, 0, 1);
$accent-color: #fb0f40;
$transition_active: 0.2s;
$transition_hover: 0.3s;

$border-debug: solid 1px rgb(35, 117, 188);
