@import '../scss/variables.scss';
@import '../scss/mixin.scss';

.ads-wrap {
    margin-top: 55px;
    height: 21.625em;
    position: relative;
    display: flex;
    justify-content: center;

    .button-wrap {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        
            button {
                cursor: pointer;
                position: absolute;
                background: none;
                border: none;
                
                img {
                    border-radius: 500px;
                }
                img:active {
                    transition: 100ms;
                    scale: 1.2;
                    border: 1px rgba;
                }
            }

            #buttons-ads-left {
                position: absolute;
                bottom: 0;
                top: 0;
            }

            #buttons-ads-right {
                position: absolute;
                bottom: 0;
                top: 0;
                right: 0;
            }

    }

    .sitebar {
        display: flex;
        justify-content: space-between;
        width: 350px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        
        li {
            display: flex;
            button {
                cursor: pointer;
                border: none;
                background: $gray_background_color;
                width: 30px;
                height: 3px;
                
            }
            button:focus {
                background: $accent-color;
            }
        }
    }
    .ads {
        justify-self: center;
        width: 98%;
        height: 20.5em;
        border-radius: 10px;
        background-image: url('../../assets/bg.png');
        background-size:cover;
    }
}