@import "../scss/variables.scss";
@import "../scss/mixin.scss";

.best-sellers-wrap {
    position: relative;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    // border: $border-debug;

    .card-block {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        // border: $border-debug;
        align-items: center;
        // width: 96%;
        // align-self: center;
    }
}
