@import "../scss/variables.scss";
@import "../scss/mixin.scss";

.card-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    width: 16.6%;
    padding: 0.8%;
    border: rgb(18, 17, 17);
    box-shadow: 0px 2px 7.8px 0px rgba(0, 0, 0, 0.15);
    .sale {
        display: flex;
        gap: 1.5%;
        .sale-element {
            background-color: $accent-color;
            color: $white_color;
            border-radius: 3px;
            padding: 1%;
        }
    }
        .container-img {
            display: flex;
            flex-direction: column;
            // border: $border-debug;
            width: 100%;
            align-self: center;
            a {
                display: flex;
                justify-content: center;
                align-self: center;
                // border: $border-debug;

                // width: 65%;
                // border: $border-debug;
                .item-page-class {
                    // max-width: 200px;
                    max-height: 250px;
                    }
            }
            .progres-wrap {
                display: flex;
                gap: 2%;
            }
            .progres-btn {
                border: none;
                width: 6px;
                height: 6px;
                border-radius: 500px;
                background-color: $gray_background_color;
            }
            .progres-btn:focus {
                background-color: $accent-color;
            }

        }
        .rating {
            color: $yellow_color;
            font-weight: 700;
        }
        .device_name-container {
            width: 90%;
            // border: $border-debug;
            .link-class {
                .device_name {
                    color: $main_text_color;
                    font-size: 17px;
                    font-weight: 600;
                    line-height: 20.72px;
                }
            }
        }
        .price-container {
            display: flex;
            gap: 2%;
            .price-main {
                color: $accent-color;
                font-size: 20px;
                font-weight: 600;
            }
            .price-sale {
                font-size: 17px;
                color: $gray_price;
            }
        }
        .button-bug-container {
            .bug {
                cursor: pointer;
                width: 100%;
                padding-top: 3.5%;
                padding-bottom: 3.5%;
                color: $white_color;
                font-size: 15px;
                font-weight: 500;
                border-radius: 10px;
                background: $accent-color;
                border: none;
            }
            .bug:active {
                transition: 200ms;
                scale: 1.01;
            }
        }
        .button-container {
            display: flex;
            justify-content: space-around;

            .btn-var {
                display: flex;
                padding: 4%;
                justify-content: center;
                background: none;
                border: none;
            }
            .btn-var:active {
                transition: 200ms;
                scale: 1.2;
            }
        }
    }
@media (min-width: 768px) and (max-width: 1100px) {
    .card-wrap {
        display: flex;
        // background: red;
        flex-direction: column;
        gap: 5px;
        border-radius: 10px;
        width: 20%;
        padding: 0.8%;
        border: rgb(18, 17, 17);
        box-shadow: 0px 2px 7.8px 0px rgba(0, 0, 0, 0.15);
        .sale {
            display: flex;
            gap: 1.5%;
            .sale-element {
                background-color: $accent-color;
                color: $white_color;
                border-radius: 3px;
                padding: 1%;
            }
        }
            .container-img {
                display: flex;
                flex-direction: column;
                // border: $border-debug;
                a {
                    align-self: center;
                    width: 65%;
                    display: flex;
                    // border: $border-debug;
                    justify-content: center;
                    img {
                        // max-width: 200px;
                        // max-height: 200px;
                        }
                }
                .progres-wrap {
                    display: flex;
                    gap: 2%;
                }
                .progres-btn {
                    border: none;
                    width: 6px;
                    height: 6px;
                    border-radius: 500px;
                    background-color: $gray_background_color;
                }
                .progres-btn:focus {
                    background-color: $accent-color;
                }
    
            }
            .rating {
                color: $yellow_color;
                font-weight: 700;
            }
            .device_name-container {
                width: 90%;
                // border: $border-debug;
                .link-class {
                    .device_name {
                        color: $main_text_color;
                        font-size: 15px;
                        font-weight: 600;
                        line-height: 20.72px;
                    }
                }
            }
            .price-container {
                display: flex;
                gap: 2%;
                .price-main {
                    color: $accent-color;
                    font-size: 18px;
                    font-weight: 600;
                }
                .price-sale {
                    font-size: 15px;
                    color: $gray_price;
                }
            }
            .button-bug-container {
                .bug {
                    cursor: pointer;
                    width: 100%;
                    padding-top: 3.5%;
                    padding-bottom: 3.5%;
                    color: $white_color;
                    font-size: 13px;
                    font-weight: 500;
                    border-radius: 10px;
                    background: $accent-color;
                    border: none;
                }
                .bug:active {
                    transition: 200ms;
                    scale: 1.01;
                }
            }
            .button-container {
                display: flex;
                // justify-content: space-around;
                width: 100%;
                // border: $border-debug;
                justify-content: center;
                .btn-var {
                    width: 30%;
                    display: flex;
                    padding: 4%;
                    justify-content: center;
                    background: none;
                    border: none;
                }
                .btn-var:active {
                    transition: 200ms;
                    scale: 1.2;
                }
            }
        }
}
