main {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 1.3%;
}
main .buttons-ads-left {
  background: none;
  border: none;
  width: 3%;
  height: 15%;
  position: absolute;
  top: 45%;
  left: 0;
}
main .buttons-ads-right {
  background: none;
  border: none;
  width: 3%;
  height: 15%;
  position: absolute;
  right: 0;
  top: 45%;
}
main .buttons-ads-right:active {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  scale: 1.2;
}
main .buttons-ads-left:active {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  scale: 1.2;
}