@import '../scss/variables.scss';
@import '../scss/mixin.scss';

main {
    @include sidePadding;
    margin-top: 1.3%;

    .buttons-ads-left{

        background: none;
        border: none;
        width: 3%;
        height: 15%;
        position: absolute;
        top: 45%;
        left: 0;
    }

    .buttons-ads-right {
        background: none;
        border: none;
        width: 3%;
        height: 15%;
        position: absolute;
        right: 0;
        top: 45%;
    }

    .buttons-ads-right:active {
        transition: all $transition_active;
        scale: 1.2;
    }

    .buttons-ads-left:active {
        transition: all $transition_active;
        scale: 1.2;
    }
}
