header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 40px;
  padding-left: 5%;
  padding-right: 5%;
}
header ul {
  gap: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header ul li .burger_button {
  width: 10em;
  height: 46px;
  border-radius: 5px;
  background: rgb(251, 15, 64);
  color: white;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.29px;
  text-align: left;
}
header ul li form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
header ul li form .search {
  width: 642px;
  height: 46px;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
  outline: none;
  background: rgb(244, 244, 244);
}
header ul li form .button_search {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  border: none;
  background: rgb(244, 244, 244);
}
header .ul_2 li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .ul_2 li a {
  color: rgb(42, 31, 32);
}