@import '../scss/variables.scss';
@import "../scss/mixin.scss";

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 7%;
    padding-top: 25px;
    padding-bottom: 35px;
    @include sidePadding;

    // border: solid 1px black;
    ul {
        display: flex;
        gap: 2em;

        li {
            a {
                font-size: 14px;
                font-weight: 400;
                color: $main_text_color;
            }

            a:hover {
                color: rgb(187, 187, 187)
            }
        }
    }

    .ul-2 {
        li {
            display: flex;
            gap: 1em;

            a {
                font-weight: 500;
            }
        }
    }
}