@import "./scss/variables.scss";
* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.accent-color {
    color: $accent-color;
}

.buttons-ads-left {
    background: none;
    border: none;
    width: 3%;
    height: 15%;
    position: absolute;
    top: 45%;
    left: 0;
}

.buttons-ads-right {
    background: none;
    border: none;
    width: 3%;
    height: 15%;
    position: absolute;
    right: 0;
    top: 45%;
}

.buttons-ads-right:active {
    transition: all $transition_active;
    scale: 1.2;
}

.buttons-ads-left:active {
    transition: all $transition_active;
    scale: 1.2;
}
