* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.accent-color {
  color: #fb0f40;
}

.buttons-ads-left {
  background: none;
  border: none;
  width: 3%;
  height: 15%;
  position: absolute;
  top: 45%;
  left: 0;
}

.buttons-ads-right {
  background: none;
  border: none;
  width: 3%;
  height: 15%;
  position: absolute;
  right: 0;
  top: 45%;
}

.buttons-ads-right:active {
  -webkit-transition: all 0.5s all;
  transition: all 0.5s all;
  scale: 1.2;
}

.buttons-ads-left:active {
  -webkit-transition: all 0.5s all;
  transition: all 0.5s all;
  scale: 1.2;
}

.best-sellers-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.best-sellers-header h2 {
  font-weight: 600;
  font-size: 25px;
}
.best-sellers-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.best-sellers-header ul li button {
  font-size: 14px;
  font-weight: 500;
  background: #e8e8e8;
  border: none;
  border-radius: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
}
.best-sellers-header ul li button:focus {
  background: none;
  outline: solid 1px #e8e8e8;
}

.btn-click:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.btn-click:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
}